body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: black;
}

.btn-outline-light {
  border-color: white;
}

.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.201);
}

.btn-primary, .btn-primary:hover {
  background-color: #00BBC9;
  border-color: #00BBC9;
}